    {
        "name": {{cluster.name}},
        "description": {{cluster.description}},
        "vxnet": {{cluster.vxnet}},
        "links": {
            "external_service":{{cluster.external_service}}
        },
        "add_links": ["external_service"],
        "nodes": [            
            {
                "role": "hdfs-master",
                "container": {
                    "type": "kvm",
                    "zone": "sh1a",
                    "image": "img-ykrlyb1g"
                },
                "instance_class": {{cluster.hdfs-master.instance_class}},
                "count": 1,
                "cpu": {{cluster.hdfs-master.cpu}},
                "memory": {{cluster.hdfs-master.memory}},
                "volume": {
                    "size": {{cluster.hdfs-master.volume_size}},
                    "mount_point": "/bigdata1",
                    "filesystem": "ext4",
                    "class": {{cluster.hdfs-master.volume_class}}
                },
                "passphraseless":"ssh-rsa",
                "services": {
                    "init": {
                        "cmd": "USER=root mkdir -p /bigdata1/hadoop;/opt/hadoop/bin/hdfs namenode -format -force"
                    },
                    "start": {
			"order": 0,
                        "cmd": "USER=root /opt/hadoop/sbin/start-dfs.sh"
                    },
                    "stop": {
                        "cmd": "USER=root /opt/hadoop/sbin/stop-dfs.sh"
                    },
                    "scale_in": {
                        "cmd": "USER=root /opt/hadoop/sbin/exclude-node.sh"
                    }
                },
        	"health_check": {
                    "enable": true,
                    "interval_sec": 60,
                    "timeout_sec": 10,
                    "action_timeout_sec": 30,
                    "healthy_threshold": 2,
                    "unhealthy_threshold": 2,
                    "check_cmd": "/opt/hadoop/sbin/check-hdfs-master.sh",
                    "action_cmd": "/opt/hadoop/sbin/action-hdfs-master.sh"
	        },
		"monitor": {
	 	    "enable": true,
            	    "cmd": "/usr/bin/python /opt/hadoop/sbin/hdfs-master-monitor.py",
            	    "items": {
			"FilesTotal": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
	            	"FilesCreated": {
        	    		"unit": "",
	                	"value_type": "int",
		                "statistics_type": "delta"
        	    	},
			"FilesAppended": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "delta"
        	    	},
			"FilesRenamed": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "delta"
        	    	}, 
			"FilesDeleted": {
        		         "unit": "",
                		 "value_type": "int",
	        	         "statistics_type": "delta"
        	    	 }, 
			"RemainingGB": {
        		        "unit": "GB",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	}, 
			"PercentUsed": {
        		        "unit": "%",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	}, 
			"LiveNodes": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	}, 
			"DeadNodes": {
        		         "unit": "",
                		 "value_type": "int",
	        	         "statistics_type": "latest"
        	    	 }, 
			"DecomLiveNodes": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
			"DecomDeadNodes": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	}, 
			"DecommissioningNodes": {
        		         "unit": "",
                		 "value_type": "int",
	        	         "statistics_type": "latest"
        	    	 }
	            },
	            "groups": {
        	        "DFS Files": ["FilesTotal", "FilesCreated", "FilesAppended", "FilesRenamed", "FilesDeleted"],
        	        "DFS Percentage": ["PercentUsed"],
			"DFS Capacity": ["RemainingGB"],
			"Data Nodes": ["LiveNodes", "DeadNodes", "DecomLiveNodes", "DecomDeadNodes", "DecommissioningNodes"]
        	    },
        	    "display": ["DFS Files", "DFS Percentage", "DFS Capacity", "Data Nodes"]
	        }
            },
            {
                "role": "yarn-master", 
                "container": {
            	   "zone": "sh1a",
            	   "type": "kvm",
            	   "image": "img-chru6srh"
            	},
            	"instance_class": {{cluster.yarn-master.instance_class}},
            	"count": 1,
            	"cpu": {{cluster.yarn-master.cpu}},
            	"memory": {{cluster.yarn-master.memory}},
            	"volume": {
            	    "size": {{cluster.yarn-master.volume_size}},
            	    "mount_point": "/bigdata1",
            	    "filesystem": "ext4",
            	    "class": {{cluster.yarn-master.volume_class}}
            	},
            	"passphraseless":"ssh-rsa",
            	"services": {
            	    "start": {
		        "order": 1,
			"cmd": "/opt/hadoop/sbin/start-yarn-services.sh;/opt/spark/sbin/start-spark-services.sh;/opt/hadoop/sbin/copy-custom-files.sh"
		    },
		    "stop": {
		        "cmd": "/opt/hadoop/sbin/stop-yarn-services.sh;/opt/spark/sbin/stop-spark-services.sh"
		    },
		    "update-yarn-scheduler": {
			"type" : "custom",
		        "cmd": "/opt/hadoop/sbin/copy-custom-files.sh"
		    }
            	},
	        "health_check": {
        	    "enable": true,
        		"interval_sec": 60,
        	        "timeout_sec": 10,
        	        "action_timeout_sec": 30,
        	        "healthy_threshold": 2,
        	        "unhealthy_threshold": 2,
        	        "check_cmd": "/opt/hadoop/sbin/check-yarn-spark-master.sh",
        	        "action_cmd": "/opt/hadoop/sbin/action-yarn-spark-master.sh"
        	},
                "monitor": {
    	            "enable": true,
    	            "cmd": "/usr/bin/python /opt/hadoop/sbin/yarn-spark-master-monitor.py",
    	            "items": {
    	                "NumActiveNMs": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "NumDecommissionedNMs": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "NumLostNMs": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },          
    	                "NumUnhealthyNMs": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                }, 
    	                "NumRebootedNMs": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
                    	"running_0": {
                       	    "unit": "",
                            "value_type": "int",
                            "statistics_type": "latest"
	                },
        	        "running_60": {
                	    "unit": "",
                	    "value_type": "int",
                	    "statistics_type": "latest"
                	},
                        "running_300": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
	                },
        	        "running_1440": {
                	    "unit": "",
                            "value_type": "int",
                            "statistics_type": "latest"
                        },
                        "AppsSubmitted": {
                            "unit": "",
                            "value_type": "int",
                            "statistics_type": "delta"
	                },
                        "AppsRunning": {
                            "unit": "",
                            "value_type": "int",
                            "statistics_type": "latest"
                        },
                    	"AppsPending": {
                            "unit": "",
                            "value_type": "int",
                            "statistics_type": "latest"
                        },
                        "AppsCompleted": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "delta"
    	                },
    	                "AppsFailed": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "delta"
    	                },
    	                "AllocatedMB": {
    	                    "unit": "MB",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "AvailableMB": {
    	                    "unit": "MB",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "ReservedMB": {
    	                    "unit": "MB",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "AllocatedVCores": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "AvailableVCores": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "ReservedVCores": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "AllocatedContainers": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
    	                "ReservedContainers": {
    	                    "unit": "",
    	                    "value_type": "int",
    	                    "statistics_type": "latest"
    	                },
			"WorkersTotal": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
	            	"WorkersAlive": {
        	    		"unit": "",
	                	"value_type": "int",
		                "statistics_type": "latest"
        	    	},
			"RunningApps": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
			"WaitingApps": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	}
    	            },
    	            "groups": {                               
    	                "NodeManagers": ["NumActiveNMs", "NumDecommissionedNMs", "NumLostNMs", "NumUnhealthyNMs", "NumRebootedNMs"], 
    	                "Running": ["running_0", "running_60", "running_300", "running_1440"], 
    	                "Applications": ["AppsSubmitted", "AppsRunning", "AppsPending", "AppsCompleted", "AppsFailed"], 
    	                "YarnMemory": ["AllocatedMB", "AvailableMB", "ReservedMB"], 
    	                "VirtualCores": ["AllocatedVCores", "AvailableVCores", "ReservedVCores"], 
    	                "Containers": ["AllocatedContainers", "ReservedContainers"],
			"SparkWorkers": ["WorkersTotal", "WorkersAlive"],
			"SparkApps": ["RunningApps", "WaitingApps"]
    	            },
    	            "display": ["NodeManagers", "Running", "Applications", "YarnMemory", "VirtualCores", "Containers", "SparkWorkers", "SparkApps"]
    	        }
    	    },
            {
                "role": "slave",
                "container": {
                    "type": "kvm",
                    "zone": "sh1a",
                    "image": "img-7pk9kj68"
                },
                "instance_class": {{cluster.slave.instance_class}},
                "count": {{cluster.slave.count}},
                "cpu": {{cluster.slave.cpu}},
                "memory": {{cluster.slave.memory}},
                "volume": {
                    "size": {{cluster.slave.volume_size}},
                    "mount_point": ["/bigdata1", "/bigdata2", "/bigdata3"],
                    "filesystem": "ext4",
                    "class": {{cluster.slave.volume_class}}
                },
		"services": {
                    "start": {
			"order": 2,
                        "cmd": "USER=root /opt/spark/sbin/action-slave.sh;/opt/hadoop/sbin/copy-custom-files.sh"
                    },
		    "destroy": {
                	"nodes_to_execute_on": 1,
                	"cmd": "USER=root /opt/spark/sbin/stop-slave.sh"
           	    },
		    "update-yarn-scheduler": {
			"type" : "custom",
		        "cmd": "/opt/hadoop/sbin/copy-custom-files.sh"
		    }
                },
	        "health_check": {
                    "enable": true,
                    "interval_sec": 60,
                    "timeout_sec": 10,
                    "action_timeout_sec": 30,
                    "healthy_threshold": 2,
                    "unhealthy_threshold": 2,
                    "check_cmd": "/opt/spark/sbin/check-slave.sh",
                    "action_cmd": "/opt/spark/sbin/action-slave.sh"
	        },
		"monitor": {
	 	    "enable": true,
            	    "cmd": "/usr/bin/python /opt/spark/sbin/slave-monitor.py",
            	    "items": {
			"RemainingGB": {
        		        "unit": "GB",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
	            	"BlocksWritten": {
        	    		"unit": "",
	                	"value_type": "int",
		                "statistics_type": "delta"
        	    	},
			"BlocksRead": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "delta"
        	    	},			
			"GcCount": {
        		         "unit": "",
                		 "value_type": "int",
	        	         "statistics_type": "delta"
        	    	 }, 
			"GcNumWarnThresholdExceeded": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "delta"
        	    	},
	            	"CoresFree": {
        	    		"unit": "",
	                	"value_type": "int",
		                "statistics_type": "latest"
        	    	},
			"CoresUsed": {
        		        "unit": "",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
			"Executors": {
        		         "unit": "",
                		 "value_type": "int",
	        	         "statistics_type": "latest"
        	    	 }, 
	            	"MemFreeMB": {
        	    		"unit": "MB",
	                	"value_type": "int",
		                "statistics_type": "latest"
        	    	},
			"MemUsedMB": {
        		        "unit": "MB",
                		"value_type": "int",
	        	        "statistics_type": "latest"
        	    	},
		    	"ContainersIniting": {
            			"unit": "",
	                    	"value_type": "int",
			 	"statistics_type": "latest"
	  		},
	                "ContainersRunning": {
        	                "unit": "",
        	                "value_type": "int",
        	                "statistics_type": "latest"
        	        },
                	"AllocatedContainers": {
                        	"unit": "",
                        	"value_type": "int",
                        	"statistics_type": "latest"
                    	},
                    	"AllocatedGB": {
                        	"unit": "GB",
                        	"value_type": "int",
                        	"statistics_type": "latest"
                    	},
                    	"AvailableGB": {
                        	"unit": "GB",
                        	"value_type": "int",
                        	"statistics_type": "latest"
                    	}
	            },
	            "groups": {     
			"Storage": ["RemainingGB"],	
			"Blocks": ["BlocksRead", "BlocksWritten"],
			"Gc": ["GcCount", "GcNumWarnThresholdExceeded"],   	 
			"Containers": ["ContainersIniting", "ContainersRunning", "AllocatedContainers"],
	                "NMMemory": ["AllocatedGB", "AvailableGB"],
			"Compute": ["CoresFree", "CoresUsed", "Executors"],  
			"WorkerMemory": ["MemUsedMB", "MemFreeMB"]
        	    },
        	    "display": ["Storage", "Blocks", "Gc", "Containers", "NMMemory", "Compute", "WorkerMemory"]
	        }
            },
	    {
                "role": "bigdata-client",
                "container": {
                    "type": "kvm",
                    "zone": "sh1a",
                    "image": "img-5pr29od9"
                },
                "instance_class": {{cluster.bigdata-client.instance_class}},
                "count": {{cluster.bigdata-client.count}},
                "cpu": {{cluster.bigdata-client.cpu}},
                "memory": {{cluster.bigdata-client.memory}},
                "volume": {
                    "size": {{cluster.bigdata-client.volume_size}},
                    "mount_point": "/bigdata1",
                    "filesystem": "ext4",
                    "class": {{cluster.bigdata-client.volume_class}}
                },
		"user_access": true,
                "passphraseless":"ssh-rsa"
            }
        ],
        "env": {
            "QingStor": {{env.QingStor}},
            "access_key": {{env.access_key}},
            "secret_key": {{env.secret_key}},
	    "spark.master.SPARK_DAEMON_MEMORY": {{env.spark_master_daemon_memory}},
	    "spark.worker.SPARK_DAEMON_MEMORY": {{env.spark_worker_daemon_memory}},
	    "PYSPARK_PYTHON": {{env.PYSPARK_PYTHON}},
	    "spark.worker.cleanup.enabled": {{env.spark_worker_cleanup_enabled}},
	    "spark.worker.cleanup.interval": {{env.spark_worker_cleanup_interval}},
	    "spark.worker.cleanup.appDataTtl": {{env.spark_worker_cleanup_appDataTtl}},
	    "hadoop.proxyuser": {{env.hadoop_proxyuser}},
	    "hadoop.proxyuser.hosts": {{env.hadoop_proxyuser_hosts}},
	    "hadoop.proxyuser.groups": {{env.hadoop_proxyuser_groups}},
	    "resource_manager.YARN_HEAPSIZE": {{env.resource_manager_yarn_heapsize}},
	    "node_manager.YARN_HEAPSIZE": {{env.node_manager_yarn_heapsize}},
	    "datanode.HADOOP_HEAPSIZE": {{env.datanode_hadoop_heapsize}},
            "dfs.namenode.handler.count": {{env.dfs_namenode_handler_count}},
            "dfs.datanode.handler.count": {{env.dfs_datanode_handler_count}},
            "dfs.replication":{{env.dfs_replication}},
            "fs.trash.interval": {{env.fs_trash_interval}},
            "yarn.resourcemanager.scheduler.class": {{env.yarn.resourcemanager.scheduler.class}},
	    "yarn.resourcemanager.client.thread-count": {{env.yarn.resourcemanager.client.thread-count}},
	    "yarn.resourcemanager.amlauncher.thread-count": {{env.yarn.resourcemanager.amlauncher.thread-count}},
	    "yarn.resourcemanager.scheduler.client.thread-count": {{env.yarn.resourcemanager.scheduler.client.thread-count}},
	    "yarn.resourcemanager.resource-tracker.client.thread-count": {{env.yarn.resourcemanager.resource-tracker.client.thread-count}},
	    "yarn.resourcemanager.admin.client.thread-count": {{env.yarn.resourcemanager.admin.client.thread-count}},
	    "yarn.nodemanager.container-manager.thread-count": {{env.yarn.nodemanager.container-manager.thread-count}},
	    "yarn.nodemanager.delete.thread-count": {{env.yarn.nodemanager.delete.thread-count}},
	    "yarn.nodemanager.localizer.client.thread-count": {{env.yarn.nodemanager.localizer.client.thread-count}},
	    "yarn.nodemanager.localizer.fetch.thread-count": {{env.yarn.nodemanager.localizer.fetch.thread-count}},
	    "yarn.nodemanager.pmem-check-enabled": {{env.yarn.nodemanager.pmem-check-enabled}},
	    "yarn.nodemanager.vmem-check-enabled": {{env.yarn.nodemanager.vmem-check-enabled}},
            "yarn.nodemanager.vmem-pmem-ratio": {{env.yarn.nodemanager.vmem-pmem-ratio}},
            "yarn.nodemanager.resource.cpu-vcores": {{env.yarn.nodemanager.resource.cpu-vcores}},
            "yarn.scheduler.minimum-allocation-mb": {{env.yarn.scheduler.minimum-allocation-mb}},
            "yarn.scheduler.maximum-allocation-mb": {{env.yarn.scheduler.maximum-allocation-mb}},
            "yarn.scheduler.minimum-allocation-vcores": {{env.yarn.scheduler.minimum-allocation-vcores}},
            "yarn.scheduler.maximum-allocation-vcores": {{env.yarn.scheduler.maximum-allocation-vcores}},
            "yarn.scheduler.capacity.maximum-applications": {{env.yarn.scheduler.capacity.maximum-applications}},
            "yarn.scheduler.capacity.maximum-am-resource-percent": {{env.yarn_scheduler_capacity_maximum-am-resource-percent}},
	    "yarn.scheduler.capacity.resource-calculator": {{env.yarn.scheduler.capacity.resource-calculator}},
	    "yarn.scheduler.fair.user-as-default-queue": {{env.yarn.scheduler.fair.user-as-default-queue}},
	    "yarn.scheduler.fair.preemption": {{env.yarn.scheduler.fair.preemption}},
	    "yarn.scheduler.fair.preemption.cluster-utilization-threshold": {{env.yarn.scheduler.fair.preemption.cluster-utilization-threshold}},
	    "yarn.scheduler.fair.sizebasedweight": {{env.yarn.scheduler.fair.sizebasedweight}},
	    "yarn.scheduler.fair.assignmultiple": {{env.yarn.scheduler.fair.assignmultiple}},
	    "yarn.scheduler.fair.max.assign": {{env.yarn.scheduler.fair.max.assign}},
	    "yarn.scheduler.fair.locality.threshold.node": {{env.yarn.scheduler.fair.locality.threshold.node}},
	    "yarn.scheduler.fair.locality.threshold.rack": {{env.yarn.scheduler.fair.locality.threshold.rack}},
	    "yarn.scheduler.fair.allow-undeclared-pools": {{env.yarn.scheduler.fair.allow-undeclared-pools}},
	    "yarn.scheduler.fair.update-interval-ms": {{env.yarn.scheduler.fair.update-interval-ms}},
            "yarn.log-aggregation-enable": {{env.yarn_log-aggregation-enable}},
            "yarn.log-aggregation.retain-seconds": {{env.yarn_log-aggregation_retain-seconds}},
	    "yarn.log-aggregation.retain-check-interval-seconds": {{env.yarn.log-aggregation.retain-check-interval-seconds}},
	    "yarn.nodemanager.remote-app-log-dir": {{env.yarn.nodemanager.remote-app-log-dir}},
	    "yarn.nodemanager.remote-app-log-dir-suffix": {{env.yarn.nodemanager.remote-app-log-dir-suffix}}
        },
        "advanced_actions": ["change_vxnet", "scale_horizontal"],
        "endpoints": {
            "hdfs.client_port": {
                "port":9000,
                "protocol": "tcp"
            },
            "hdfs.monitor_port": {
                "port":50070,
                "protocol": "http"
            },
            "spark.client_port": {
                "port":7077,
                "protocol": "tcp"
            },
            "spark.monitor_port": {
                "port":8080,
                "protocol": "http"
            },
            "spark.driver_port": {
                "port":4040,
                "protocol": "http"
            },
            "livy.port": {
                "port":8998,
                "protocol": "tcp"
            }
        }
    }
