#!/bin/bash  
source /etc/profile
  
 
{{if eq (getv "/env/enable_kylin") "false"}}  
	echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - enable_kylin is disabled.No need to start kylin. " 1>>$KYLINAPP_LOG  2>&1
	pid=`ps ax | grep kylin | grep -v grep | grep -v 'su kylin' | grep -v 'bash' | grep 'Dkylin.hive.dependency' | awk '{print $1}'` 
	if [ "$pid"x == ""x ]
	then 
    	echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Kylin Service already Stopped." 1>>$KYLINAPP_LOG  2>&1 	 
	else
		echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - enable_kylin is false，检查到有运行的Kylin服务，需要关闭。" 1>>$KYLINAPP_LOG  2>&1 	
		/opt/kap-plus/sbin/stop-kylin.sh 
	fi   
	echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - enable_kylin is false，关闭已经开启的Kylin服务！" 1>>$KYLINAPP_LOG  2>&1  
	exit 0
{{end}}
 

action=$1 
#避免enable-kylin.sh执行的同时执行action
if [  -f "/root/ignore_agent_enable" ]
then 
   echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - 在/root目录下发现ignore_agent_enable文件，正在执行enable_kylin动作，避免重复启动不执行Action=$action。" 1>>$KYLINAPP_LOG  2>&1  
   exit 0
fi 


echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Action=$action Start**********************************************" 1>>$KYLINAPP_LOG  2>&1


touch /root/ignore_agent_action  
echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - 新增/root/ignore_agent_action,Action=$action阶段忽略健康检查。" 1>>$KYLINAPP_LOG  2>&1 
   
 

if [ "$action"x == "start"x ]
then
	pid=`ps ax | grep kylin | grep -v grep | grep -v 'su kylin' | grep -v 'bash' | grep 'Dkylin.hive.dependency' | awk '{print $1}'`
	if [ "$pid"x == ""x ]
	then
		/opt/kap-plus/sbin/start-kylin.sh   
	else	
		echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Kylin Service already Started." 1>>$KYLINAPP_LOG  2>&1
	fi 	
fi

if [ "$action"x == "stop"x ]
then
	pid=`ps ax | grep kylin | grep -v grep | grep -v 'su kylin' | grep -v 'bash' | grep 'Dkylin.hive.dependency' | awk '{print $1}'` 
	if [ "$pid"x == ""x ]
	then 
    	echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Kylin Service already Stopped." 1>>$KYLINAPP_LOG  2>&1 	 
	else	
		/opt/kap-plus/sbin/stop-kylin.sh 
	fi  
fi

if [ "$action"x == "restart"x ]
then 
	pid=`ps ax | grep kylin | grep -v grep | grep -v 'su kylin' | grep -v 'bash' | grep 'Dkylin.hive.dependency' | awk '{print $1}'` 
	if [ "$pid"x == ""x ]
	then 
    	echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Kylin Service already Stopped." 1>>$KYLINAPP_LOG  2>&1 	 
	else	
		/opt/kap-plus/sbin/stop-kylin.sh  
	fi
	 
	sleep 20
	echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Sleep 20 seconds after stop kylin." 1>>$KYLINAPP_LOG  2>&1
	
	pid=`ps ax | grep kylin | grep -v grep | grep -v 'su kylin' | grep -v 'bash' | grep 'Dkylin.hive.dependency' | awk '{print $1}'`
	if [ "$pid"x == ""x ]
	then
		/opt/kap-plus/sbin/start-kylin.sh  
	else	
		echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Kylin Service already Started." 1>>$KYLINAPP_LOG  2>&1
	fi
	
fi 
 

rm /root/ignore_agent_action  
echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - 删除/root/ignore_agent_action,Action=$action结束后恢复健康检查。" 1>>$KYLINAPP_LOG  2>&1  
echo "`date '+%Y-%m-%d %H:%M:%S'` - action-kylin.sh - INFO - Action=$action End**********************************************" 1>>$KYLINAPP_LOG  2>&1
 

 