<?xml version="1.0" encoding="UTF-8"?>
  <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
  <configuration>
    <property>
      <name>fs.defaultFS</name>
      {{range $dir := lsdir "/hosts/hdfs-master/"}}{{$ip := printf "/hosts/hdfs-master/%s/ip" $dir}}
     <value>hdfs://{{getv $ip}}:9000</value>{{end}}
    </property>
    <property>
      <name>hadoop.proxyuser.yunify.hosts</name>
      <value>*</value>
    </property>
    <property>
      <name>hadoop.proxyuser.yunify.groups</name>
      <value>*</value>
    </property>
    <property>
        <name>hadoop.proxyuser.hive.hosts</name>
        <value>*</value>
    </property>
    <property>
        <name>hadoop.proxyuser.hive.groups</name>
        <value>*</value>
    </property>
    {{if ne (getv "/env/hadoop.proxyuser") ""}}
    <property>
      <name>hadoop.proxyuser.{{getv "/env/hadoop.proxyuser"}}.hosts</name>
      <value>{{getv "/env/hadoop.proxyuser.hosts"}}</value>
    </property>
    <property>
      <name>hadoop.proxyuser.{{getv "/env/hadoop.proxyuser"}}.groups</name>
      <value>{{getv "/env/hadoop.proxyuser.groups"}}</value>
    </property>
    {{end}}
   <property>
        <name>io.compression.codecs</name>
        <value>org.apache.hadoop.io.compress.GzipCodec,
                org.apache.hadoop.io.compress.DefaultCodec,
                com.hadoop.compression.lzo.LzoCodec,
                com.hadoop.compression.lzo.LzopCodec,
                org.apache.hadoop.io.compress.BZip2Codec
        </value>
   </property>
   <property>
        <name>io.compression.codec.lzo.class</name>
        <value>com.hadoop.compression.lzo.LzoCodec</value>
   </property>
{{if eq (getv "/env/QingStor") "true"}}
   <property>
     <name>fs.s3a.endpoint</name>
     {{if ne (getv "/env/s3_endpoint") ""}}
     <value>{{getv "/env/s3_endpoint"}}</value>{{else}}
     <value>s3.{{getv "/env/QingStor_zone"}}.qingstor.com</value>{{end}}
   </property>
   <property>
     <name>fs.s3a.access.key</name>
     <value>{{getv "/env/access_key"}}</value>
   </property>
   <property>
     <name>fs.s3a.secret.key</name>
     <value>{{getv "/env/secret_key"}}</value>
   </property>
   <property>
     <name>fs.s3a.connection.ssl.enabled</name>
     <value>false</value>
   </property>
   <property>
     <name>fs.s3a.paging.maximum</name>
     <value>1000</value>
   </property>
   <property>
     <name>fs.s3a.connection.timeout</name>
     <value>300000</value>
   </property>
   <property>
     <name>ipc.client.connect.timeout</name>
     <value>200000</value>
   </property>
   <property>
     <name>ipc.client.connect.max.retries.on.timeouts</name>
     <value>3</value>
   </property>
{{end}}
  </configuration>
