#!/bin/bash     
source /etc/profile   
chmod 777 $KYLINAPP_LOG  1>>$KYLINAPP_LOG  2>&1
 

#避免action执行的同时执行enable-kylin.sh
if [  -f "/root/ignore_agent_action" ]
then  
   echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 在/root目录下发现ignore_agent_action文件，正在执行Action=$action动作，避免重复启动不执行enable-kylin。" 1>>$KYLINAPP_LOG  2>&1   
   exit 0
fi 


{{if eq (getv "/env/enable_kylin") "false"}}  
echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - enable_kylin is false，不启动Kylin。" 1>>$KYLINAPP_LOG  2>&1 
/opt/kap-plus/sbin/action-kylin.sh stop 
exit 0
{{end}}	


echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Action=enable-kylin Start===================================================" 1>>$KYLINAPP_LOG  2>&1
 
{{if eq (getv "/env/enable_hive") "false"}}  
	{{if eq (getv "/env/enable_kylin") "true"}} 
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - Error - 用户参数选择错误，hive服务disabled，Kylin不能启动，退出！" 1>>$KYLINAPP_LOG  2>&1
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Action=enable-kylin End===================================================" 1>>$KYLINAPP_LOG  2>&1
		exit 1  
	{{end}}	
{{end}}  
 

zkport=""
{{range $service_name := lsdir "/links" | filter "zookeeper4kylin*"}}
{{$port := getv (printf "/links/%s/cluster/endpoints/client/port" $service_name)}}  
zkport={{$port}}
{{end}}  
if [ "$zkport"x == ""x ]
then
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - Error - 用户参数选择错误，未设置依赖服务zk，Kylin不能启动，退出！" 1>>$KYLINAPP_LOG  2>&1
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Action=enable-kylin End===================================================" 1>>$KYLINAPP_LOG  2>&1
		exit 1	
fi  
  

{{if eq (getv "/env/enable_kylin") "true"}}  
   #启动Kylin之前需要检查HDFS和HIVE是否running，必须等待HIVE启动后才能启动Kylin 
   #等待HIVE启动中 
	touch /root/ignore_agent_enable  
	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 新增/root/ignore_agent_enable,等待hive启动阶段忽略健康检查。" 1>>$KYLINAPP_LOG  2>&1  
   
	for i in {1..500}
	do
		source /etc/profile
		/opt/hive/bin/hive -e "show databases;"    
		if [  $? -ne 0 ] 
		then 
			echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 等待HIVE启动中..." 1>>$KYLINAPP_LOG  2>&1
			sleep 10
		else
			echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - HIVE is Runing!" 1>>$KYLINAPP_LOG  2>&1
			break
		fi 
	done 
	
	/opt/hive/bin/hive -e "show databases;"  
	if [  $? -ne 0 ] 
	then 
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - Error - 等待HIVE启动500s，Hive仍然不可访问，没有hive服务，Kylin不能启动，退出！" 1>>$KYLINAPP_LOG  2>&1
		rm /root/ignore_agent_enable  
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 删除/root/ignore_agent_enable,恢复健康检查。" 1>>$KYLINAPP_LOG  2>&1 
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Action=enable-kylin End===================================================" 1>>$KYLINAPP_LOG  2>&1
		exit 1
	fi 
	
	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - HIVE is Runing!" 1>>$KYLINAPP_LOG  2>&1
   

	pid=`ps ax | grep kylin | grep -v grep | grep -v 'su kylin' | grep -v 'bash' | grep 'Dkylin.hive.dependency' | awk '{print $1}'` 
	if [ "$pid"x != ""x ]
	then
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - Warning - Kylin Service is already running. " 1>>$KYLINAPP_LOG  2>&1 
		rm /root/ignore_agent_enable  
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 删除/root/ignore_agent_enable,恢复健康检查。" 1>>$KYLINAPP_LOG  2>&1
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Action=enable-kylin End===================================================" 1>>$KYLINAPP_LOG  2>&1  
     	exit 0
	fi
	 
	
#Deal with HDFS 
#if enable_kylin is true,for the first time it needs to create HDFS folder for kylin.	 
	hadoop fs -test -e /kylin
	if [ $? -ne 0 ]
    then  
    	hdfs dfs -mkdir /kylin  
    	hdfs dfs -chown kylin /kylin
    	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Create hdfs dir /kylin" 1>>$KYLINAPP_LOG  2>&1
	fi 
    	 
	hadoop fs -test -e /user
	if [ $? -ne 0 ]
    then  
    	hdfs dfs -mkdir /user
    	hdfs dfs -chown kylin /user
    	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Create hdfs dir /user" 1>>$KYLINAPP_LOG  2>&1
	fi 
	
	hadoop fs -test -e /user/kylin
	if [ $? -ne 0 ]
    then  
    	hdfs dfs -mkdir /user/kylin
    	hdfs dfs -chown kylin /user/kylin
    	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Create hdfs dir /user/kylin" 1>>$KYLINAPP_LOG  2>&1 
	fi   
	
	hdfs dfs -chmod -R 777 /tmp
	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Chmod 777 hdfs dir /tmp" 1>>$KYLINAPP_LOG  2>&1 
	
	rm /root/ignore_agent_enable  
	echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 删除/root/ignore_agent_enable,hive启动后恢复健康检查。" 1>>$KYLINAPP_LOG  2>&1    
	
	
	/opt/kap-plus/sbin/action-kylin.sh start
	
	
	if [ ! -f "/opt/kap-plus/bin/sample_loaded" ]
	then 
		/opt/kap-plus/bin/sample.sh   
		echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 初始化KAP导入sample数据." 1>>$KYLINAPP_LOG  2>&1  
		touch  /opt/kap-plus/bin/sample_loaded
	    echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - 初始化KAP导入sample数据完成，创建/opt/kap-plus/bin/sample_loaded标识文件." 1>>$KYLINAPP_LOG  2>&1  
	fi  
	
{{end}}  
 
 

echo "`date '+%Y-%m-%d %H:%M:%S'` - enable-kylin.sh - INFO - Action=enable-kylin End===================================================" 1>>$KYLINAPP_LOG  2>&1
exit 0