 # /etc/profile: system-wide .profile file for the Bourne shell (sh(1))
# and Bourne compatible shells (bash(1), ksh(1), ash(1), ...).

if [ "$PS1" ]; then
  if [ "$BASH" ] && [ "$BASH" != "/bin/sh" ]; then
    # The file bash.bashrc already sets the default PS1.
    # PS1='\h:\w\$ '
    if [ -f /etc/bash.bashrc ]; then
      . /etc/bash.bashrc
    fi
  else
    if [ "`id -u`" -eq 0 ]; then
      PS1='# '
    else
      PS1='$ '
    fi
  fi
fi

# The default umask is now handled by pam_umask.
# See pam_umask(8) and /etc/login.defs.

if [ -d /etc/profile.d ]; then
  for i in /etc/profile.d/*.sh; do
    if [ -r $i ]; then
      . $i
    fi
  done
  unset i
fi

export JAVA_HOME=/usr/jdk
export PATH=$JAVA_HOME/bin:$PATH
export HADOOP_HOME=/opt/hadoop 
export HIVE_HOME=/opt/hive
export SQOOP_HOME=/opt/sqoop
export KYLIN_HOME=/opt/kap-plus

{{if eq (getv "/env/enable_kylin") "false"}}
export SPARK_HOME=/opt/spark
{{end}}

{{if eq (getv "/env/enable_kylin") "true"}}
export SPARK_HOME=$KYLIN_HOME/spark
{{end}}


export PATH=${HADOOP_HOME}/bin:${HIVE_HOME}/bin:${SQOOP_HOME}/bin:${SPARK_HOME}/bin:$PATH
export HADOOP_S3=/opt/hadoop/share/hadoop/common/lib/hadoop-aws-2.7.3.jar,/opt/hadoop/share/hadoop/common/lib/aws-java-sdk-1.7.4.jar,/opt/hadoop/share/hadoop/common/lib/jackson-annotations-2.2.3.jar,/opt/hadoop/share/hadoop/common/lib/jackson-core-2.2.3.jar,/opt/hadoop/share/hadoop/common/lib/jackson-core-asl-1.9.13.jar,/opt/hadoop/share/hadoop/common/lib/jackson-databind-2.2.3.jar,/opt/hadoop/share/hadoop/common/lib/jackson-jaxrs-1.9.13.jar,/opt/hadoop/share/hadoop/common/lib/jackson-mapper-asl-1.9.13.jar,/opt/hadoop/share/hadoop/common/lib/jackson-xc-1.9.13.jar
export SPARK_S3=/opt/hadoop/share/hadoop/common/lib/hadoop-aws-2.7.3.jar,/opt/hadoop/share/hadoop/common/lib/aws-java-sdk-1.7.4.jar
export KYLINAPP_LOG=/opt/qingcloud/sbin/kylinapp.log




export PATH=/opt/hadoop/bin:/opt/hive/bin:/opt/sqoop/bin:/opt/spark/bin:/usr/jdk/bin:${PATH}

 
                                                     