#!/usr/bin/env bash

ret_spark=0
ret_hadoop=0
{{if eq (getv "/env/enable_spark_standalone") "true"}}
/opt/spark/sbin/check-spark-slave.sh
ret_spark=$?
{{end}}
/opt/hadoop/sbin/check-hadoop-slave.sh
ret_hadoop=$?

ret_val=$[$ret_spark + 100*$ret_hadoop]

exit $ret_val
