#!/bin/bash
ret_spark=0
ret_yarn=0
ret_mysql=0
ret_metastore=0
ret_hiveserver2=0

{{if eq (getv "/env/enable_spark_standalone") "true"}}
/opt/spark/sbin/check-spark-master.sh
ret_spark=$?
{{end}}
/opt/hadoop/sbin/check-yarn-master.sh
ret_yarn=$?
{{if and (eq (getv "/env/use_remote_mysql") "false") (eq (getv "/env/enable_hive") "true")}}
/opt/hive/sbin/check-mysql.sh
ret_mysql=$?
{{end}}
{{if eq (getv "/env/enable_hive") "true"}}
/opt/hive/sbin/check-metastore.sh
ret_metastore=$?

/opt/hive/sbin/check-hiveserver2.sh
ret_hiveserver2=$?
{{end}}
ret_val=$[$ret_spark + 10*$ret_yarn + 100*$ret_mysql + 200*$ret_metastore + 1000*$ret_hiveserver2]
exit $ret_val