#!/usr/bin/env bash

ret_spark=0
ret_yarn=0
{{if eq (getv "/env/enable-spark-standalone") "true"}}
/opt/spark/sbin/check-spark-master.sh
ret_spark=$?
{{end}}
/opt/hadoop/sbin/check-yarn-master.sh
ret_yarn=$?

ret_val=$[$ret_spark + 100*$ret_yarn]

exit $ret_val
