#!/bin/bash

# for spark tmp dir
export SPARK_LOCAL_DIRS=/data/spark/local_dirs
if [ ! -d $SPARK_LOCAL_DIRS ]; then
    mkdir -p $SPARK_LOCAL_DIRS
    chmod 777 $SPARK_LOCAL_DIRS
fi

{{if eq (getv "/env/enable_spark_standalone") "true"}}
/opt/hadoop/sbin/start-yarn-services.sh
/opt/spark/sbin/start-spark-services.sh
{{else}}
/opt/hadoop/sbin/start-yarn-services.sh
{{end}}

{{if and (eq (getv "/env/use_remote_mysql") "false") (eq (getv "/env/enable_hive") "true")}}
/opt/hive/sbin/action-mysql.sh
{{end}}

{{if eq (getv "/env/enable_hive") "true"}}
/opt/hive/sbin/stop-metastore.sh
/opt/hive/sbin/action-metastore.sh
/opt/hive/sbin/action-hiveserver2.sh
{{end}}

exit 0


