#!/usr/bin/env bash
{{if eq (getv "/env/enable_spark_standalone") "true"}}
/opt/hadoop/sbin/start-yarn-services.sh
/opt/spark/sbin/start-spark-services.sh
{{else}}
/opt/hadoop/sbin/start-yarn-services.sh
{{end}}
{{if and eq (getv "/env/use_remote_mysql") "false" eq (getv "/env/enable_hive") "true"}}
/opt/hive/sbin/action-mysql.sh
{{end}}
{{if eq (getv "/env/enable_hive") "true"}}
/opt/hive/sbin/action-metastore.sh
/opt/hive/sbin/action-hiveserver2.sh
{{end}}
exit 0
