#!/usr/bin/env bash
{{if eq (getv "/env/enable_spark_standalone") "true"}}
/opt/hadoop/sbin/start-yarn-services.sh
/opt/spark/sbin/start-spark-services.sh
{{else}}
/opt/hadoop/sbin/start-yarn-services.sh
{{end}}
exit 0
