#!/bin/bash
{{if eq (getv "/env/enable_spark_standalone") "true"}}
/opt/hadoop/sbin/stop-yarn-services.sh
/opt/spark/sbin/stop-spark-services.sh
{{else}}
/opt/hadoop/sbin/stop-yarn-services.sh
{{end}}
/opt/hive/sbin/stop-hiveserver2.sh
/opt/hive/sbin/stop-metastore.sh
/opt/hive/sbin/stop-mysql.sh
exit 0
