<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
    </property>
    <property>
        <name>yarn.nodemanager.aux-services.mapreduce_shuffle.class</name>
        <value>org.apache.hadoop.mapred.ShuffleHandler</value>
    </property>
    <property>
        <name>yarn.nodemanager.resource.memory-mb</name>
        <value>{{getv "/host/memory" "8192"}}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.address</name>
 {{range $dir := lsdir "/hosts/yarn-master/"}}{{$ip := printf "/hosts/yarn-master/%s/ip" $dir}}{{$ip_address := getv $ip}}
        <value>{{$ip_address}}:8032</value>
    </property>
    <property>
        <name>yarn.resourcemanager.scheduler.address</name>
        <value>{{$ip_address}}:8030</value>
    </property>
    <property>
        <name>yarn.resourcemanager.resource-tracker.address</name>
        <value>{{$ip_address}}:8031</value>
    </property>
    <property>
        <name>yarn.resourcemanager.admin.address</name>
        <value>{{$ip_address}}:8033</value>
    </property>
    <property>
        <name>yarn.resourcemanager.webapp.address</name>
        <value>{{$ip_address}}:8088</value>{{end}}
    </property>
    <property>
      <name>yarn.resourcemanager.nodes.exclude-path</name>
      <value>/opt/hadoop/etc/hadoop/exclude</value>
    </property>
    <property>
        <name>yarn.resourcemanager.scheduler.class</name>
        <value>{{getv "/env/yarn.resourcemanager.scheduler.class" "org.apache.hadoop.yarn.server.resourcemanager.scheduler.capacity.CapacityScheduler"}}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.client.thread-count</name>
        <value>{{getv "/env/yarn.resourcemanager.client.thread-count" "50"}}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.amlauncher.thread-count</name>
        <value>{{getv "/env/yarn.resourcemanager.amlauncher.thread-count" "50"}}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.scheduler.client.thread-count</name>
        <value>{{getv "/env/yarn.resourcemanager.scheduler.client.thread-count" "50"}}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.resource-tracker.client.thread-count</name>
        <value>{{getv "/env/yarn.resourcemanager.resource-tracker.client.thread-count" "50"}}</value>
    </property>
    <property>
        <name>yarn.resourcemanager.admin.client.thread-count</name>
        <value>{{getv "/env/yarn.resourcemanager.admin.client.thread-count" "1"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.container-manager.thread-count</name>
        <value>{{getv "/env/yarn.nodemanager.container-manager.thread-count" "20"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.delete.thread-count</name>
        <value>{{getv "/env/yarn.nodemanager.delete.thread-count" "4"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.localizer.client.thread-count</name>
        <value>{{getv "/env/yarn.nodemanager.localizer.client.thread-count" "5"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.localizer.fetch.thread-count</name>
        <value>{{getv "/env/yarn.nodemanager.localizer.fetch.thread-count" "4"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.pmem-check-enabled</name>
        <value>{{getv "/env/yarn.nodemanager.pmem-check-enabled" "true"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.vmem-check-enabled</name>
        <value>{{getv "/env/yarn.nodemanager.vmem-check-enabled" "true"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.vmem-pmem-ratio</name>
        <value>{{getv "/env/yarn.nodemanager.vmem-pmem-ratio" "5"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.resource.cpu-vcores</name>
        <value>{{getv "/host/cpu" "8"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.minimum-allocation-mb</name>
        <value>{{getv "/env/yarn.scheduler.minimum-allocation-mb" "1024"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.maximum-allocation-mb</name>
        <value>{{getv "/env/yarn.scheduler.maximum-allocation-mb" "8192"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.minimum-allocation-vcores</name>
        <value>{{getv "/env/yarn.scheduler.minimum-allocation-vcores" "1"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.maximum-allocation-vcores</name>
        <value>{{getv "/env/yarn.scheduler.maximum-allocation-vcores" "32"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.allocation.file</name>
        <value>/opt/hadoop/etc/hadoop/fair-scheduler.xml</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.user-as-default-queue</name>
        <value>{{getv "/env/yarn.scheduler.fair.user-as-default-queue" "true"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.preemption</name>
        <value>{{getv "/env/yarn.scheduler.fair.preemption" "false"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.preemption.cluster-utilization-threshold</name>
        <value>{{getv "/env/yarn.scheduler.fair.preemption.cluster-utilization-threshold" "0.8"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.sizebasedweight</name>
        <value>{{getv "/env/yarn.scheduler.fair.sizebasedweight" "false"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.assignmultiple</name>
        <value>{{getv "/env/yarn.scheduler.fair.assignmultiple" "false"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.max.assign</name>
        <value>{{getv "/env/yarn.scheduler.fair.max.assign" "-1"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.locality.threshold.node</name>
        <value>{{getv "/env/yarn.scheduler.fair.locality.threshold.node" "-1.0"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.locality.threshold.rack</name>
        <value>{{getv "/env/yarn.scheduler.fair.locality.threshold.rack" "-1.0"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.allow-undeclared-pools</name>
        <value>{{getv "/env/yarn.scheduler.fair.allow-undeclared-pools" "true"}}</value>
    </property>
    <property>
        <name>yarn.scheduler.fair.update-interval-ms</name>
        <value>{{getv "/env/yarn.scheduler.fair.update-interval-ms" "500"}}</value>
    </property>
    <property>
        <name>yarn.log-aggregation-enable</name>
        <value>{{getv "/env/yarn.log-aggregation-enable" "false"}}</value>
    </property>
    <property>
        <name>yarn.log-aggregation.retain-seconds</name>
        <value>{{getv "/env/yarn.log-aggregation.retain-seconds" "86400"}}</value>
    </property>
    <property>
        <name>yarn.log-aggregation.retain-check-interval-seconds</name>
        <value>{{getv "/env/yarn.log-aggregation.retain-check-interval-seconds" "7200"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.log.retain-seconds</name>
        <value>{{getv "/env/yarn.nodemanager.log.retain-seconds" "10800"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.delete.debug-delay-sec</name>
        <value>{{getv "/env/yarn.nodemanager.delete.debug-delay-sec" "0"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.remote-app-log-dir</name>
        <value>{{getv "/env/yarn.nodemanager.remote-app-log-dir" "/tmp/logs"}}</value>
    </property>
    <property>
        <name>yarn.nodemanager.remote-app-log-dir-suffix</name>
        <value>{{getv "/env/yarn.nodemanager.remote-app-log-dir-suffix" "logs"}}</value>
    </property>
    <property>
        <name>yarn.webapp.ui2.enable</name>
        <value>{{getv "/env/yarn.webapp.ui2.enable" "false"}}</value>
    </property>
    <property>
        <name>yarn.application.classpath</name>
        <value>/opt/hadoop/etc/hadoop:/opt/hadoop/share/hadoop/common/lib/*:/opt/hadoop/share/hadoop/common/*:/opt/hadoop/share/hadoop/hdfs:/opt/hadoop/share/hadoop/hdfs/lib/*:/opt/hadoop/share/hadoop/hdfs/*:/opt/hadoop/share/hadoop/mapreduce/lib/*:/opt/hadoop/share/hadoop/mapreduce/*:/opt/hadoop/share/hadoop/yarn:/opt/hadoop/share/hadoop/yarn/lib/*:/opt/hadoop/share/hadoop/yarn/*</value>
    </property>
    <property>
        <name>yarn.nodemanager.env-whitelist</name>
        <value>JAVA_HOME,HADOOP_COMMON_HOME,HADOOP_HDFS_HOME,HADOOP_CONF_DIR,CLASSPATH_PREPEND_DISTCACHE,HADOOP_YARN_HOME,HADOOP_HOME,PATH,HADOOP_MAPRED_HOME</value>
    </property>
</configuration>
